@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app-btn {
        @apply px-4 py-2 rounded;
    }
    .app-btn-primary {
        @apply app-btn text-white bg-blue-500;
    }
    .app-error-text {
        @apply text-red-500 text-sm;
    }

    .app-header-title {
        @apply font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight;
    }

    .app-link-normal {
        @apply text-blue-600 hover:underline;
    }
}
