@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-btn {
    @apply  px-4 py-2 rounded
  }
  .app-btn-primary {
    @apply app-btn text-white bg-blue-500
  }
  .app-error-text {
      @apply text-red-500 text-sm;
  }
}